
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">

  </head>
  <body style="background-color: gainsboro">
    <header>

      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" style="
        background-color: cornflowerblue;
        border: none;
        color: white;
        padding: 7px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px; ">LOGOUT</a>

           <a href="{% url 'user_list' %} " style="
           background-color: cornflowerblue;
           border: none;
           color: white;
           padding: 7px 30px;
           text-align: center;
           text-decoration: none;
           display: inline-block;
           font-size: 16px; " >USER LIST</a>


           <a href="{% url 'home' %}" style="
           background-color: cornflowerblue;
           border: none;
           color: white;
           padding: 7px 30px;
           text-align: center;
           text-decoration: none;
           display: inline-block;
           font-size: 16px;">PAGE</a>
      {% else %}
        <a href="{% url 'login' %}"  style="
        background-color: cornflowerblue;
        border: none;
        color: white;
        padding: 7px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;"
       >LOG IN</a>
          <a href="{% url 'signup' %}" style="
          background-color: cornflowerblue;
          border: none;
          color: white;
          padding: 7px 30px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px; ">SIGNUP</a>
      {% endif %}

      <hr>
    </header>
    <main>



      {% block content %}
      {% endblock %}
          {% block pagination %}
                {% if is_paginated %}
                    <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" style="
                    background-color: cornflowerblue;
                    margin: 1px 60px 7px 800px;
                    border: none;
                    color: white;
                    padding: 10px 25px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;">previous</a>
                {% endif %}

                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}" style="
                    background-color: cornflowerblue;
                    border: none;
                    margin: 1px 60px 7px 800px;
                    color: white;
                    padding: 10px 38px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;">next</a>
                {% endif %}
            </span>
                    </div>
                {% endif %}
            {% endblock %}
    </main>
  </body>
</html>