{% extends 'base.html' %}

{% block content %}

    <div style="
    padding: 10px 25px;
    margin: 1px 7px 50px 1200px;
    font-size: 30px;
    background-color: cornflowerblue">
     <h4 style="
     background-color: cornflowerblue;
     color: white;" > Welcome {{ user.username }} </h4>

     <h5 style="
     color: cornflowerblue;
     color: white;"> email</h5>  {{ user.email}}

     <h5 style="
     color: cornflowerblue;
     color: white;"> date of joined </h5> {{ user.date_joined }}

    </div>
{% endblock %}
