{% extends 'base.html' %}
{% block content %}

  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p style="margin: 7px 60px 7px 800px;">
      {{ field.label_tag }} <br>
       {{ field }}<br>
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
    {% endfor %}
       </p>

         <button type="submit" style="
                 background-color: cornflowerblue;
                 margin: 7px 60px 7px 825px;
                 border:   none;
                 color: white;
                 padding: 15px 25px;
                 text-align: center;
                 text-decoration: none;
                 display: inline-block;
                 font-size: 16px;">SIGN UP</button>

  </form>
{% endblock %}




